.hackerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  animation: glitch 0.3s ease;
}

@keyframes glitch {
  0% {
    transform: translate(10px, -5px);
    opacity: 0.5;
  }
  20% {
    transform: translate(-5px, 0px);
    opacity: 0.6;
  }
  40% {
    transform: translate(5px, 5px);
    opacity: 0.9;
  }
  50% {
    transform: translate(-5px, -5px);
    opacity: 0.8;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
