.title {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 1rem;
}
.description {
  font-size: 1.5rem;
  max-width: 80%;
  padding: 1rem;
  text-align: center;
}
.accent {
  color: greenyellow;
}
.channelInput {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.button {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  background-color: greenyellow;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  font-family: monospace;
  font-size: 1rem;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(172, 200, 129);
}
.computer.computer {
  max-width: 400px;
}
